* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    background-image: -webkit-linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(../assets/images/back.jpg);
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(../assets/images/back.jpg);
    background-position: center;
    background-size: cover;
    color: #555;
    font-family: Lato;
    font-weight: 300;
    height: 100vh;
    position: relative;
}

button {
	background: none;
 	border: none;
 	color: #555;
 	cursor: pointer;
 	font-family: Lato;
 	font-size: 20px;
 	font-weight: 300;
 	left: 50%;
 	position: absolute;
 	text-transform: uppercase;
 	-webkit-transform: translateX(-50%);
 	        transform: translateX(-50%);
 	-webkit-transition: background-color 0.3s, color 0.3s;
 	transition: background-color 0.3s, color 0.3s;
 	width: 200px;
 }

button:hover {
    font-weight: 600;
    
}

button:hover i {
    margin-right: 20px;
    
}

button:focus {
    outline: none;
    
}

i {
 	color: #EB4D4D;
 	display: inline-block;
 	font-size: 32px;
 	line-height: 1;
 	margin-right: 15px;
 	margin-top: -4px;
 	-webkit-transition: margin 0.3s;
 	transition: margin 0.3s;
 	vertical-align: text-top;
 }

/**********************************************
*** BUTTON
**********************************************/

.btn__new {
    top: 45px;
    
}

.btn__roll {
    top: 403px;
    
}

.btn__hold {
    top: 467px;
    
}

/**********************************************
*** DICE
**********************************************/

.dice {
   box-shadow: 0px 10px 60px rgba(0, 0, 0, .10);
   height: 100px;
   left: 50%;
   position: absolute;
   top: 178px;
   -webkit-transform: translateX(-50%);
           transform: translateX(-50%);
 }

/**********************************************
*** PLAYERS
**********************************************/

.player-1-panel,
.player-2-panel {
  float: left;
  height: 600px;
  padding: 100px;
  width: 50%;
}

.player {
  float: left;
  height: 600px;
  padding: 100px;
  width: 50%;
}

.player__name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    
}

.player__score {
    color: #EB4D4D;
    font-size: 80px;
    font-weight: 100;
    margin-bottom: 130px;
    text-align: center;
    
}

.player__current-box {
    background-color: #EB4D4D;
    color: #fff;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    width: 40%;
    
}

.player__current-label {
    color: #222;
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
    
}

.player__current-score {
    font-size: 30px;
    
}

.player--active {
    background-color: #f7f7f7;
    
}

.player--active > .player__name {
    font-weight: 300;
    
}

.player--active > .player__name::after {
    color: #EB4D4D;
    content: "\2022";
    font-size: 47px;
    position: absolute;
    top: -7px;
    right: 10px;
    
}

/**********************************************
*** WINNER
**********************************************/

.winner { background-color: #f7f7f7; }

.winner .player-name { font-weight: 300; color: #EB4D4D; }

/**********************************************
*** WINNER
**********************************************/

.wrapper {
   background-color: #fff;
   box-shadow: 0px 10px 50px rgba(0, 0, 0, .3);
   left: 50%;
   position: absolute;
   overflow: hidden;
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);
   width: 1000px;
}

.wrapper::after {
    clear: both;
    content: "";
    display: table;
    
}

