/**********************************************
*** BUTTON
**********************************************/

.btn {
 	&__new {
     top: 45px;
   }
 
   &__roll {
     top: 403px;
   }
 
   &__hold {
     top: 467px;
   }
}