/**********************************************
*** DICE
**********************************************/

.dice {
  position: absolute;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, .10);
  height: 80px;
  left: 50%;
  top: 178px;
  transform: translateX(-50%);
 }

#dice-1 {top: 0px;}
#dice-2 {top: 50px;}