/**********************************************
*** WINNER
**********************************************/

.wrapper {
   @mixin clearfix;
   background-color: #fff;
   box-shadow: 0px 10px 50px rgba(0, 0, 0, .3);
   left: 50%;
   position: absolute;
   overflow: hidden;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 1000px;
}